[MASTER]
# Do not scan test/external library folders if necessary
ignore=venv,__pycache__,.git

[MESSAGES CONTROL]
# Turn off minor warnings
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    R0914,  # too-many-locals
    R0915,  # too-many-statements
    W0511   # TODO/FIXME

# Leave only critical errors:
enable=E,F

[REPORTS]
# Report format
output-format=colorized
reports=no

[FORMAT]
max-line-length=88
indent-string='    '  # 4 spaces
